[submodule "jacdac-ts"]
	path = jacdac-ts
	url = https://github.com/microsoft/jacdac-ts
[submodule "jacdac-ddk"]
	path = jacdac-ddk
	url = https://github.com/microsoft/jacdac-ddk
[submodule "jupyter-jacdac"]
	path = jupyter-jacdac
	url = https://github.com/microsoft/jupyter-jacdac
[submodule "node-red-contrib-jacdac"]
	path = node-red-contrib-jacdac
	url = https://github.com/microsoft/node-red-contrib-jacdac
[submodule "ml4f"]
	path = ml4f
	url = https://github.com/microsoft/ml4f
[submodule "gatsby-remark-makecode"]
	path = gatsby-remark-makecode
	url = https://github.com/microsoft/gatsby-remark-makecode
[submodule "react-jacdac"]
	path = react-jacdac
	url = https://github.com/microsoft/react-jacdac
[submodule "jacdac-cli"]
	path = jacdac-cli
	url = https://github.com/microsoft/jacdac-cli
[submodule "jacdac-python"]
	path = jacdac-python
	url = https://github.com/microsoft/jacdac-python
[submodule "pxt-jacdac"]
	path = pxt-jacdac
	url = https://github.com/microsoft/pxt-jacdac
